<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="urdf"/>
    <arg name="world"/>
    <arg name="launch_rviz"/>
    <arg name="launch_gzclient"/>
    <arg name="rviz_config_file"/>
    <arg name="output" default="screen"/>

    <param name="/use_sim_time" value="true"/>

    <group>
        <param name="gazebo/enable_ros_network" value="true"/>
    </group>

    <node
        name="gzserver"
        pkg="gazebo_ros"
        type="gzserver"
        respawn="false"
        required="true"
        args="--verbose -e ode $(arg world)"
        output="$(arg output)"/>

    <node
        name="gzclient"
        pkg="gazebo_ros"
        type="gzclient"
        respawn="false"
        args="--verbose"
        if="$(arg launch_gzclient)"
        output="$(arg output)"/>

    <param
        name="robot_urdf"
        textfile="$(arg urdf)"/>
    <node
        name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0" />
        <remap from="robot_description" to="robot_urdf"/>
    </node>

    <node
        name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(arg rviz_config_file)"
        if="$(arg launch_rviz)"
        output="log"/>
        
</launch>
