<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="local_planner_params_file"/>
    <arg name="global_planner_params_file"/>
    <arg name="nav_params_file"/>
    <arg name="map"/>
    <arg name="output" default="screen"/>

    <node
        name="move_base"
        pkg="move_base"
        type="move_base"
        respawn="false"
        required="true"
        output="$(arg output)">
        <rosparam file="$(arg local_planner_params_file)"/>
        <rosparam file="$(arg global_planner_params_file)"/>
        <rosparam file="$(arg nav_params_file)"/>
    </node>

    <node
        name="map_server"
        pkg="map_server"
        type="map_server"
        args="$(arg map)"
        respawn="false"
        required="true"
        output="$(arg output)">
    </node>

</launch>

