<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="scene_file"/>
    <arg name="pedestrian_number"/>
    <arg name="pedestrian_max_vel"/>
    <arg name="output" default="screen"/>
    <arg name="kbd_teleop" default="false"/>
    <arg name="rqt_teleop" default="false"/>
    <arg name="with_robot" default="false"/>
    <arg name="default_queue_size" value="10"/>
    <arg name="max_robot_speed" value="1.5"/>
    <arg name="robot_mode" value="1"/>
    <arg name="enable_groups" value="true"/>
    <arg name="simulation_factor" default="1.0"/> <!-- Speed up -->
    <arg name="update_rate" default="25.0"/> <!-- Hz -->
    <arg name="spawn_period" default="5.0"/>

    <param name="/use_sim_time" value="true"/>

      <node name="pedsim_simulator" pkg="pedsim_simulator" type="pedsim_simulator" output="screen">
        <param name="scene_file" value="$(arg scene_file)" type="string"/>
        <param name="pedestrian_number" value="$(arg pedestrian_number)" type="int"/>
        <param name="pedestrian_max_vel" value="$(arg pedestrian_max_vel)" type="double"/>
        <param name="default_queue_size" value="$(arg default_queue_size)" type="int"/>
        <param name="max_robot_speed" value="$(arg max_robot_speed)" type="double"/>
        <param name="robot_mode" value="$(arg robot_mode)" type="int"/>
        <param name="enable_groups" value="$(arg enable_groups)" type="bool"/>
        <param name="simulation_factor" value="$(arg simulation_factor)" type="double"/>
        <param name="update_rate" value="$(arg update_rate)" type="double"/>
        <param name="spawn_period" value="$(arg spawn_period)" type="double"/>
      </node>
         
         <!-- this node spawn pedsim actors to gazebo once, then the plugin updates their pose  -->
      <node pkg="pedsim_gazebo_plugin" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents"  output="screen"> </node> 
  
      <!-- Visualizer -->
      <node name="pedsim_visualizer" type="pedsim_visualizer_node" pkg="pedsim_visualizer" output="screen">
        <param name="walls_marker_scale" type="double" value="0.05" />
      </node> 

</launch>
